<h1>Message Board</h1>
<div class="message-board">
<% if (locals.messages) { %>
    <% messages.forEach(msg => { %>
        <div class="message-container">
            <h2><%= msg.title %></h2>
            <p><%= msg.text %></p>
            <div class="message-info">
                <span><%= !currentUser || !currentUser.member ? 'Anonymous' : msg.username %></span>
                <span><%= !currentUser || !currentUser.member ? '....' :  msg.sent_at %></span>
            </div>
            <% if (locals.currentUser.admin) { %>
               <a href="/admin/delete-message/<%= msg.id %>">delete</a>
            <% } %>
        </div>
    <% }) %>
<% } else { %>
    <p>No messages here!</p>
<% } %>
</div>